.eti-container {
  position: relative;
  background-color: rgba(0,0,0,0.08);
  max-width: 280px;
  margin-bottom: 16px;
  height: 56px;
  display: flex;
  align-items: center;
  cursor: text;
  border-radius: 3px;
  color: #293c4b;
}
.eti-container.eti-outline {
  background-color: transparent;
  border: solid 1px #293c4b;
}
.eti-container.eti-outline--focused {
  border: solid 1px #60b5cd;
  box-shadow: 0px 0px 0px 1px #60b5cd;
}
.eti-container .eti-text-input__wrapper {
  display: inline-block;
}
.eti-container .eti-text-input__input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  height: calc(56px - 8px);
  padding: 8px 8px 0px 8px;
}
.eti-container .eti-text-input__label {
  position: absolute;
  top: 4px;
  font-size: 16px;
  transition: 0.25s;
  padding-left: 8px;
  pointer-events: none;
  top: calc(50% - 8px);
  color: rgba(0,0,0,0.54);
}
.eti-container .eti-text-input__label--raised {
  top: calc(0% + 4px);
  font-size: 12px;
}
.eti-container .eti-text-input__label--active {
  color: #60b5cd;
}
.eti-container .eti-bottom-line__container {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 2px;
  background-color: rgba(0,0,0,0.16);
}
.eti-container .eti-bottom-line__relative-wrapper {
  position: relative;
}
.eti-container .eti-bottom-line__highlighter {
  position: absolute;
  z-index: 1;
  transition: 0.25s;
  left: 50%;
  right: 50%;
  height: 2px;
  background-color: #60b5cd;
}
.eti-container .eti-bottom-line__highlighter--active {
  left: 0%;
  right: 0%;
}
.eti-container .eti-bottom-text {
  font-size: 12px;
  padding-left: 8px;
  position: absolute;
  top: 60px;
}
.eti-container .eti-bottom-text--error {
  color: #b00020;
}
.eti-container .eti-bottom-text--helper {
  color: rgba(0,0,0,0.54);
}
.ess-container {
  position: relative;
}
.ess-container .ess-option-list-container {
  box-shadow: none;
  background-color: #fff;
  opacity: 1;
  position: absolute;
  top: 56px;
  max-height: 0px;
  overflow: auto;
}
.ess-container .ess-option-list-container--open {
  z-index: 100;
  background-color: #fff;
  max-height: 500px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.16);
}
.ess-container .ess-clear-button {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  background-color: #60b5cd;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  position: absolute;
  top: -8px;
  right: -8px;
  transition: 0.5s;
  opacity: 0;
  transform: rotate(180deg);
}
.ess-container .ess-clear-button--show {
  opacity: 1;
  transform: rotate(0deg);
}
.ess-container .ess-option-list__button {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 20px;
  padding: 8px;
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
}
.ess-container .ess-option-list__button:focus {
  outline: none;
}
.ess-container .ess-option-list__button--focused {
  background-color: rgba(0,0,0,0.08);
}
.ess-container .ess-option-list__word {
  color: rgba(0,0,0,0.54);
}
.ess-container .ess-option-list__word--match {
  color: #293c4b;
}
.erb-checkmark {
  width: 16px;
  height: 10px;
  box-sizing: border-box;
  transform: translateY(-4px) rotate(-45deg);
  border-left: 4px solid #fff;
  border-bottom: 4px solid #fff;
  display: inline-block;
}
.erb-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  padding: 8px;
  color: #293c4b;
}
.erb-hidden-checkbox {
  width: 0px;
  height: 0px;
  overflow: hidden;
}
.erb-circle-group {
  position: relative;
}
.erb-circle-group__outer {
  border-radius: 50%;
  border: solid 2px #60b5cd;
  width: 24px;
  height: 24px;
  line-height: 100%;
  text-align: center;
  margin-right: 16px;
  box-sizing: border-box;
  transition: 0.25s;
}
.erb-square-group__outer--selected {
  background-color: #60b5cd;
}
.erb-square-group__outer {
  font-size: 20px;
  border-radius: 3px;
  border: solid 2px #60b5cd;
  width: 24px;
  height: 24px;
  line-height: 100%;
  text-align: center;
  margin-right: 16px;
  box-sizing: border-box;
  transition: 0.25s;
  color: #fff;
}
.erb-circle-group__outer--selected {
  border: solid 3px #60b5cd;
}
.erb-circle-group__inner {
  display: inline-block;
  border-radius: 50%;
  top: 0;
  left: 0;
  border: solid 0px #60b5cd;
  width: 0px;
  height: 0px;
  transition: 0.25s;
  background-color: #60b5cd;
  margin-top: 3px;
}
.erb-circle-group__inner--selected {
  width: 12px;
  height: 12px;
  margin-top: 3px;
}
.elm-switch-container {
  display: inline-block;
}
.elm-switch-container .elm-switch__label {
  color: rgba(0,0,0,0.54);
  font-size: 12px;
}
.elm-switch-container .elm-switch__label--toggled {
  color: #60b5cd;
}
.elm-switch-container .elm-switch {
  display: inline-block;
  width: 80px;
  height: 40px;
  cursor: pointer;
  border: solid 1px rgba(0,0,0,0.54);
  border-color: rgba(0,0,0,0.54);
  border-radius: 3px;
  margin: 1px;
  position: relative;
  transition: 0.25s;
  background-color: rgba(0,0,0,0.08);
}
.elm-switch-container .elm-switch.elm-switch--selected {
  border-color: rgba(0,0,0,0.08);
  background-color: #60b5cd;
}
.elm-switch-container .elm-switch .elm-switch__switch-indicator {
  display: flex;
  background-color: #fff;
  transition: 0.25s;
  color: rgba(0,0,0,0.54);
  text-align: center;
  position: absolute;
  top: -2px;
  left: -2px;
  height: 44px;
  width: 44px;
  line-height: 12px;
  box-sizing: border-box;
  border: solid 3px rgba(0,0,0,0.54);
  border-radius: 3px;
}
.elm-switch-container .elm-switch .elm-switch__switch-indicator--toggled {
  left: 38px;
  color: #60b5cd;
  border: solid 3px secondary-color;
}
