theme = json('../theme.json', { hash: true })

primary-color = theme['primary-color']
secondary-color = theme['secondary-color']
font-color = theme['font-color']
label-color = theme['label-color']
error-color = theme['error-color']
light-shade = theme['light-shade']
medium-shade = theme['medium-shade']

